/* Section principale */
.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px 0px 200px 0px;
}

/* Ligne centrale */
.timeline:before {
    content: '';
    position: absolute;
    width: 83%;
    height: 15px;
    background: linear-gradient(to right, #0A3C74, #007BFF);
    top: 45%;
    z-index: 1;
    border-radius: 10px;
}
.timeline-item svg {
    width: 55px;
    height: 55px;
    fill: #0A3C74; /* Couleur bleue */
    z-index: 2;
    background-color: lightblue;
    border-radius: 50%;
    /* padding: 50px; */
    padding: 10px;
    border: 5px solid #eceff4;
}
.timeline-item.grey svg {
    background-color: #a19898;
    fill: #ffffff;
}


/* Élément de la timeline */
.timeline-item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 1 1 200px;
    text-align: center;
    margin: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 50px;
    font-weight: bold;
}

/* Position des contenus au-dessus et en dessous */
.timeline-item[data-position="above"] .timeline-content {
    position: relative;
    top: -100px;
}

.timeline-item[data-position="below"] .timeline-content {
    position: relative;
    top: 50px;
}

/* Contenu stylisé */
.timeline-content {
    display: inline-block;
    /* background: #fff; */
    /* border: 1px solid #ccc; */ /* Bordure légère grise */
    padding: 10px 20px;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 2;
    position: relative;
    font-size: 14px;
    color: #0A3C74; /* Texte bleu foncé */
    font-weight: bold;
}

/* Point sur la timeline */
.timeline-item:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}



/* --- Responsivité (seulement pour petits écrans) --- */

/* Petits écrans : affichage vertical */
@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
    }

    .timeline:before {
        /* Ligne verticale sur mobile */
        height: 100%;
        width: 5px;
        background: linear-gradient(to bottom, #0A3C74, #007BFF); /* Dégradé bleu vertical */
        left: 50%;
        top: 0;
    }

    .timeline-item {
        /* Centrer les éléments sur mobile */
        flex: 1 1 auto;
        width: 100%;
        margin: 20px 0;
    }

    .timeline-item[data-position="above"] .timeline-content,
    .timeline-item[data-position="below"] .timeline-content {
        /* Contenus centrés horizontalement */
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Les points restent centrés */
    .timeline-item:after {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
